<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
            integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
            crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>Morpion</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Tic Tac Toe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Game's rules</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Morpion-->
        <div id="game" class="container my-5">
            <h1 class="text-center">{{ title }}</h1>
            <div class="text-center mb-2">
                <input v-model="playerOne.name">
                <input v-model="playerTwo.name">
            </div>
            <p class="text-center">
                <img src="images/circle.png" alt="playerOne - circle" class="img-player">
                {{ playerOne.name }} {{ playerOne.score }} - {{ playerTwo.score }} {{ playerTwo.name }}
                <img src="images/cross.png" alt="playerTwo - cross" class="img-player">
            </p>
            <p class="text-center">Turn to {{ currentPlayer.name }}</p>
            <p v-if="errorMessage" class="text-center alert alert-danger">{{ errorMessage }}</p>
            <p v-if="winner" class="text-center alert alert-success">{{ winner.name }} win the game!</p>
            <p v-if="looser" class="text-center alert alert-warning">Looser begin - {{ looser.name }}</p>
            <div v-if="winner || hits === 9" class="text-center">
                <button  @click="createGame()" class="btn btn-primary text-center">Launch a new game</button>
            </div>
            <div class="text-center grid offset-3 my-5">
                <!-- Lignes -->
                <div v-for="(row, rowIndex) in game.map" :key="rowIndex" class="d-inline">
                    <!-- Colonnes -->
                    <div
                        v-for="(cell, cellIndex) in row"
                        :key="cellIndex"
                        @click="play(rowIndex, cellIndex)"
                        class="square d-inline-block"
                        v-bind:class="{ 
                            'player-1': cell.player === 1,
                            'player-2': cell.player === 2,
                            'square-1': cellIndex == 0 && rowIndex == 0,
                            'square-3': cellIndex == 2 && rowIndex == 0,
                            'square-7': cellIndex == 0 && rowIndex == 2,
                            'square-9': cellIndex == 2 && rowIndex == 2,
                            'win': winCombination.includes(cell.id)
                        }"
                    >
                    </div>
                </div>
            </div>
        </div>

        <!-- Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>